@font-face {
  font-family: "Cera Pro";
  src: url("fonts/CeraPro-Regular.eot");
  src: local("fonts/Cera Pro Regular"), local("CeraPro-Regular"), url("fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPro-Regular.woff") format("woff"), url("fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

main {
  min-height: calc(100vh - 60px); }

body {
  background: #ffffff;
  color: #333;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 400; }

* {
  box-sizing: border-box;
  font-family: "Cera Pro", "Helvetica", "Segoe UI", Tahoma, Verdana, sans-serif; }

hr.line {
  width: 1100px;
  border-top: 2px solid #333a56;
  opacity: 0.2; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fafafa; }

li {
  float: right; }

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.07em;
  transition: all 0.3s ease-out; }
  li a.contact {
    margin-left: -5px; }

li a:hover {
  text-decoration: underline; }

.nav-btn {
  margin: 8px 100px 0px 0px;
  -webkit-appearance: none; }
  .nav-btn a:hover {
    color: #333a56; }

.nav-item.current > a {
  color: #333a56; }

.nav-logo {
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: -7px;
  margin-left: 100px; }

.welcome-message {
  transition: all 1s ease-out;
  margin-bottom: 30px; }

.parralax {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    background-attached: fixed; = parallax
    background-attached: scroll; = normal
  */
  background-attachment: fixed; }

.pimg1 {
  padding-top: 100px;
  padding-bottom: 1000px;
  opacity: 0.9;
  background-image: url("../img/starrybackground.jpg");
  min-height: 100%;
  background-position-y: 35%; }

.ptext {
  position: absolute;
  top: 7%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 1px; }

.border {
  opacity: 0.9;
  border-radius: 20px;
  background-color: #111;
  color: #ffffff;
  margin: auto;
  padding: 15px;
  width: 700px; }

.ptext .trans {
  background-color: transparent; }

.section {
  text-align: center;
  padding: 30px 80px;
  background-color: #ebebeb; }

.home-btn {
  background-color: #e9e9e9;
  border-color: transparent;
  color: #000000;
  font-size: 15px;
  padding: 12px 17px;
  z-index: 3;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-appearance: none; }
  .home-btn:hover {
    background-color: #dee8ff;
    cursor: pointer; }

@media (max-width: 568px) {
  .pimg1 {
    background-attachment: scroll; } }

.news-border {
  opacity: 0.9;
  border-radius: 20px;
  background-color: #111;
  color: #ffffff;
  margin: 150px auto;
  padding: 30px;
  width: 1200px; }

.lab-title {
  font-size: 28px;
  font-weight: 400; }

.lab-desc {
  text-align: left;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  margin-bottom: 0px;
  width: 580px;
  font-size: 17px;
  line-height: 1.8em; }

.lab-news {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px; }

.lab-article-section {
  display: flex;
  justify-content: space-evenly; }

.article-title {
  font-weight: 400; }

.article-desc {
  text-align: left; }

.lab-article {
  font-size: 16px;
  padding: 25px;
  margin: 10px;
  background-color: #0c0c0c;
  border-radius: 20px;
  font-weight: 200; }

.news-link {
  text-decoration: none;
  color: #ffffff; }
  .news-link:visited {
    text-decoration: none;
    color: #ffffff; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  text-align: center; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 250; }

.project-sec {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 1200px;
  padding: 50px; }

.project-desc {
  line-height: 1.8em; }

.project-img {
  width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0px 50px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }

.project-title {
  font-weight: 400; }

.project {
  margin: auto;
  width: 600px; }

.books {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  right: 0px;
  left: 0px;
  top: 220px;
  margin: auto;
  position: absolute; }

.books2 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  right: 0px;
  left: 0px;
  top: 690px;
  margin: auto;
  position: absolute; }

.single-book {
  position: relative;
  text-align: center; }

.book-title {
  z-index: 5;
  font-size: 17px;
  color: #ffffff;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

.book-img {
  width: 250px;
  margin: auto 35px; }

.books2 {
  margin-top: 110px; }

.shelf-img {
  position: relative;
  z-index: -5;
  margin-top: 400px;
  width: 1200px; }

.booksonshelf {
  display: flex;
  justify-content: center; }

.person-title {
  margin-top: 20px;
  font-size: 29px;
  font-weight: 400; }

.professor {
  background-color: #4e6089;
  padding: 100px; }

.info-card {
  background-color: #e8e8e8;
  border-radius: 10px;
  color: #000000;
  margin: auto;
  padding: 15px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }

.person-desc {
  margin: 0px 20px;
  line-height: 35px;
  font-size: 17px;
  font-weight: 100;
  width: 650px; }

.students {
  background-color: #52658f;
  padding: 100px; }

.ppl-heading {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 25px;
  color: #e8e8e8; }

.person-img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px; }

#resources {
  border-collapse: collapse;
  width: 60%;
  display: flex;
  margin: 40px auto;
  justify-content: center; }

#resources td,
#resources th {
  border: 1px solid #ddd;
  padding: 8px; }

.resource-name {
  width: 20%;
  text-align: center;
  font-weight: 600;
  font-size: 18px; }

#resources tr:nth-child(even) {
  background-color: #f2f2f2; }

#resources a {
  color: #333;
  display: block;
  text-decoration: none; }

#resources th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #52658f;
  color: white; }

tr[data-href] {
  cursor: pointer; }

#resources tr:hover {
  background-color: #c2c2c2; }

#contact h2 {
  margin-top: 50px; }

form {
  text-align: center;
  margin-top: 50px;
  transition: all 2s ease-in-out; }

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #333;
  color: #333;
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 250; }

input {
  height: 45px; }

form .submit {
  background-color: #dee8ff;
  border-color: transparent;
  color: #000000;
  font-size: 17px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-appearance: none; }
  form .submit:hover {
    background-color: #91b4ff;
    cursor: pointer; }

#more {
  display: none; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.site-content {
  flex: 1; }

footer {
  text-align: center;
  background-color: #fafafa;
  font-size: 14px;
  padding: 1rem;
  color: #333;
  height: 50px; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .menu-btn {
    position: fixed;
    z-index: 10;
    right: 35px;
    top: 35px;
    background-color: #333;
    padding: 8px 8px 3px 8px;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #f7f5e6; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #ffffff;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 8; }
    .menu.show {
      visibility: visible;
      background: #f7f7f7;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f7f7f7;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #333a56;
    background-color: #f7f7f7; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .info-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px; }
  .professor {
    padding: 50px 0px; }
  .students {
    padding: 50px 0px; }
  .person-img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
  .person-title {
    padding-top: 20px; }
  .person-desc {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column; }
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 700px; }
  .lab-article-section {
    display: flex;
    flex-direction: column; }
  .article-title {
    font-size: 20px; }
  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px; }
  .lab-article {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    margin: 10px; }
  .book-img {
    width: 220px; }
  .shelf-img {
    margin-top: 425px; }
  .books2 {
    margin-top: 120px; } }

@media screen and (max-width: 768px) {
  .menu-btn {
    position: fixed;
    z-index: 10;
    right: 35px;
    top: 35px;
    background-color: #333;
    padding: 8px 8px 3px 8px;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #f7f5e6; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #ffffff;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 8; }
    .menu.show {
      visibility: visible;
      background: #f7f7f7;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f7f7f7;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #333a56;
    background-color: #f7f7f7; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .form-control {
    width: 400px; }
  .border {
    width: 500px; }
  .info-card {
    display: block;
    font-size: 14px;
    width: 600px; }
  .person-img {
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
  .person-title {
    padding-top: 20px; }
  .person-desc {
    line-height: 28px;
    width: 500px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column; }
  .professor {
    padding: 50px 0px; }
  .students {
    padding: 50px 0px; }
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 500px; }
  .lab-desc {
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    width: 450px; }
  .lab-article-section {
    display: flex;
    flex-direction: column; }
  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px; }
  .lab-article {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    margin: 10px; }
  .book-img {
    width: 180px;
    margin: auto 30px; }
  .shelf-img {
    margin-top: 400px; }
  .book-title {
    font-size: 14px; } }

@media screen and (max-width: 500px) {
  .menu-btn {
    position: fixed;
    z-index: 10;
    right: 35px;
    top: 35px;
    background-color: #333;
    padding: 8px 8px 3px 8px;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    .menu-btn:hover .btn-line {
      background: #f7f5e6; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #ffffff;
      transition: all 0.3s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 8; }
    .menu.show {
      visibility: visible;
      background: #f7f7f7;
      transition: all 0.3s ease-out; }
    .menu-nav {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
      height: 20%;
      overflow: hidden;
      background: #f7f7f7;
      transform: translate3d(0, -120%, 0);
      transition: all 0.3s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
  .nav-logo {
    margin: 0px 0px 0px 0px; }
  .nav-btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center; }
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 5px 7px; }
    li a.contact {
      margin: 0px; }
  li a:hover {
    color: #333a56;
    background-color: #f7f7f7; }
  .nav-item {
    transform: translate3d(550px, 0, 0);
    transition: all 0.3s ease-out; }
    .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .nav-item:nth-child(1) {
    transition-delay: 0.08s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.16s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.24s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.32s; }
  .form-control {
    width: 300px; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 2rem;
    font-size: 1.3rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 0.8rem;
    margin-bottom: 1rem; }
  .welcome-message {
    font-size: 28px; }
  .lab-desc {
    width: 335px; }
  .home-btn {
    font-size: 12px;
    padding: 10px 15px;
    z-index: 10;
    opacity: 1; }
  .lab-title {
    font-size: 24px; }
  hr.line {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px; }
  .project-sec {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column-reverse;
    width: 320px;
    padding: 0px; }
  .flip-sec {
    flex-direction: column; }
  .project-desc {
    line-height: 1.8em; }
  .project-img {
    display: flex;
    width: 320px;
    height: 320px;
    margin: auto; }
  .project-title {
    font-weight: 400; }
  .project {
    width: 320px; }
  .first-sec {
    margin-top: 70px; }
  .students {
    padding: 60px 10px; }
  .professor {
    padding: 60px 10px; }
  .info-card {
    width: 350px;
    display: block; }
  .person-img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -10px; }
  .person-desc {
    line-height: 28px;
    width: 300px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column; }
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 350px;
    margin-top: 45px; }
  .lab-desc {
    text-align: left;
    font-weight: 300;
    font-size: 12px; }
  .lab-news {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px; }
  .lab-article-section {
    display: flex;
    flex-direction: column; }
  .lab-article {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    margin: 10px; }
  .border {
    width: 350px; }
  .book-img {
    width: 200px;
    margin: 40px auto; }
  .books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    margin-top: 70px; }
  .books2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    margin-top: 70px; }
  .shelf-img {
    display: none; }
  .book-title {
    font-size: 15px;
    color: #ffffff;
    width: 175px;
    top: 46%;
    left: 54%;
    transform: translate(-50%, -50%); }
  footer {
    display: none; }
  #resources {
    width: 90%; } }
