//Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  @import "menu";
  .info-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  .professor {
    padding: 50px 0px;
  }

  .students {
    padding: 50px 0px;
  }

  .person-img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .person-title {
    padding-top: 20px;
  }

  .person-desc {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }
  //news
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 700px;
  }

  .lab-article-section {
    display: flex;
    flex-direction: column;
  }

  .article-title {
    font-size: 20px;
  }

  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .lab-article {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
  }

  //bookshelf

  .book-img {
    width: 220px;
  }
  .shelf-img {
    margin-top: 425px;
  }

  .books2 {
    margin-top: 120px;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  @import "menu";

  .form-control {
    width: 400px;
  }

  .border {
    width: 500px;
  }

  .info-card {
    display: block;
    font-size: 14px;
    width: 600px;
  }

  .person-img {
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .person-title {
    padding-top: 20px;
  }

  .person-desc {
    line-height: 28px;
    width: 500px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }

  .professor {
    padding: 50px 0px;
  }

  .students {
    padding: 50px 0px;
  }
  //news
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 500px;
  }

  .lab-desc {
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    width: 450px;
  }

  .lab-article-section {
    display: flex;
    flex-direction: column;
  }

  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .lab-article {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
  }

  .book-img {
    width: 180px;
    margin: auto 30px;
  }
  .shelf-img {
    margin-top: 400px;
  }

  .book-title {
    font-size: 14px;
  }
}

// Smartphones
@include mediaSm {
  @import "menu";

  .form-control {
    width: 300px;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      margin-top: 2rem;
      font-size: 1.3rem;
    }

    &.sm-heading {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }

  //home

  .welcome-message {
    font-size: 28px;
  }

  .lab-desc {
    width: 335px;
  }

  .home-btn {
    font-size: 12px;
    padding: 10px 15px;
    z-index: 10;
    opacity: 1;
  }

  .lab-title {
    font-size: 24px;
  }

  //projects

  hr.line {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .project-sec {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column-reverse;
    width: 320px;
    padding: 0px;
  }

  .flip-sec {
    flex-direction: column;
  }

  .project-desc {
    line-height: 1.8em;
  }

  .project-img {
    display: flex;

    width: 320px;
    height: 320px;
    margin: auto;
  }

  .project-title {
    font-weight: 400;
  }

  .project {
    width: 320px;
  }

  .first-sec {
    margin-top: 70px;
  }

  //people

  .students {
    padding: 60px 10px;
  }

  .professor {
    padding: 60px 10px;
  }
  .info-card {
    width: 350px;
    display: block;
  }

  .person-img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .person-desc {
    line-height: 28px;
    width: 300px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }

  //lab news
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 350px;
    margin-top: 45px;
  }

  .lab-desc {
    text-align: left;
    font-weight: 300;
    font-size: 12px;
  }

  .lab-news {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .lab-article-section {
    display: flex;
    flex-direction: column;
  }

  .lab-article {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
  }

  //make home screen mobile
  .border {
    width: 350px;
  }

  //publications
  .book-img {
    width: 200px;
    margin: 40px auto;
  }

  .books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    margin-top: 70px;
  }

  .books2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    margin-top: 70px;
  }

  .shelf-img {
    display: none;
  }

  .book-title {
    font-size: 15px;
    color: $primary-color;
    width: 175px;
    top: 46%;
    left: 54%;
    transform: translate(-50%, -50%);
  }

  footer {
    display: none;
  }

  //resources

  #resources {
    width: 90%;
  }
}
