//Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  @import "menu";
  .info-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .person-img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -30px;
  }

  //news
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 700px;
  }

  .lab-article-section {
    display: flex;
    flex-direction: column;
  }

  .article-title {
    font-size: 20px;
  }

  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .lab-article {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
  }

  //bookshelf

  .book-img {
    width: 180px;
  }
  .shelf-img {
    margin-top: 400px;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  @import "menu";

  .form-control {
    width: 400px;
  }

  .border {
    width: 500px;
  }

  .info-card {
    display: block;
    font-size: 14px;
  }

  .person-img {
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .person-desc {
    margin: 30px;
    line-height: 28px;
  }

  //news
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 500px;
  }

  .lab-desc {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
  }

  .lab-article-section {
    display: flex;
    flex-direction: column;
  }

  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .lab-article {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
  }

  .book-img {
    margin: auto 30px;
  }
  .shelf-img {
    margin-top: 400px;
  }
}

// Smartphones
@include mediaSm {
  @import "menu";

  .form-control {
    width: 300px;
  }

  h1,
  h2,
  h3 {
    &.lg-heading {
      margin-top: 2rem;
      font-size: 1.3rem;
    }

    &.sm-heading {
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
  }
  //people

  .students {
    padding: 60px 10px;
  }

  .professor {
    padding: 60px 10px;
  }
  .info-card {
    width: 300px;
    display: block;
  }

  .person-img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .person-desc {
    margin: 10px;
    line-height: 28px;
  }

  //lab news
  .news-border {
    margin: 15px auto;
    padding: 20px;
    width: 350px;
  }

  .lab-desc {
    text-align: left;
    font-weight: 300;
    font-size: 12px;
  }

  .lab-news {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .lab-article-section {
    display: flex;
    flex-direction: column;
  }

  .lab-article {
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
  }

  //make home screen mobile
  .border {
    width: 350px;
  }

  //publications
  .book-img {
    width: 200px;
    margin: 40px auto;
  }

  .books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    margin-top: 70px;
  }

  .shelf-img {
    display: none;
  }

  footer {
    display: none;
  }
}
