// remember to npm run sass to compile scss to css
//go to config.scss and change colors if needed (1/29/2020)
// add mobile look edits (2/5/20200
@import "config";

main {
  //used for stick footers
  min-height: calc(100vh - 60px);
}

body {
  background: $primary-color;
  color: $text-color;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", "Segoe UI", Tahoma, Verdana, sans-serif;
}

hr.line {
  width: 1100px;
  border-top: 2px solid $secondary-color;
  opacity: 0.2;
}

//navbar

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darken($primary-color, 2);
}

li {
  float: right;
}

li a {
  display: block;
  color: $text-color;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-weight: 350;
  letter-spacing: 0.07em;
  @include easeOut();

  &.contact {
    margin-left: -5px;
  }
}

li a:hover {
  text-decoration: underline;
}

.nav-btn {
  margin: 8px 100px 0px 0px;
  a:hover {
    color: $secondary-color;
  }
}

.nav-item {
  &.current > a {
    color: $secondary-color;
  }
}

.nav-logo {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: -4px; //use to adjust height of logo
  margin-left: 100px;
}

//parallax & Home Page

.welcome-message {
  @include appear();
  margin-bottom: 30px;
}

.parralax {
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    background-attached: fixed; = parallax
    background-attached: scroll; = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  padding-top: 100px;
  padding-bottom: 1000px;
  opacity: 0.9;
  background-image: url("../img/starrybackground.jpg");
  min-height: 100%;
  background-position-y: 35%;
}

.ptext {
  position: absolute;
  top: 12%;
  width: 100%;
  text-align: center;
  color: $primary-color;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}

.border {
  opacity: 0.9;
  border-radius: 20px;
  background-color: #111;
  color: $primary-color;
  margin: auto;
  padding: 15px;
  width: 700px;
}

.ptext .trans {
  background-color: transparent;
}

.section {
  text-align: center;
  padding: 30px 80px;
  background-color: darken($primary-color, 8);
}

.home-btn {
  border-color: transparent;
  color: #000000;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;

  &:hover {
    background-color: $btn-color;
    cursor: pointer;
  }
}

@media (max-width: 568px) {
  .pimg1 {
    background-attachment: scroll;
  }
}

//news stuff

.news-border {
  opacity: 0.9;
  border-radius: 20px;
  background-color: #111;
  color: #ffffff;
  margin: 150px auto;
  padding: 30px;
  width: 1200px;
}

.lab-title {
  font-size: 22px;
  font-weight: 400;
}

.lab-desc {
  text-align: left;
  font-weight: 300;
  font-size: 17px;
}

.lab-news {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
}

.lab-article-section {
  display: flex;
  justify-content: space-evenly;
}

.article-title {
  font-weight: 400;
}

.article-desc {
  text-align: left;
}

.lab-article {
  font-size: 16px;
  padding: 25px;
  margin: 10px;
  background-color: darken(#111, 2);
  border-radius: 20px;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  text-align: center;

  &.lg-heading {
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
  }

  &.sm-heading {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 250;
  }
}

//Projects

.project-sec {
  display: flex;
  margin: auto;
  width: 1200px;
  padding: 50px;
}

.project-img {
  width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0px 50px;
}

.project-title {
  font-weight: 400;
}

.project {
  margin: auto;
}

//Publications

//People

.person-title {
  font-size: 29px;
  font-weight: 400;
}

.professor {
  background-color: darken($tertiary-color, 2);
  padding: 100px;
}

.info-card {
  background-color: $fourth-color;
  border-radius: 10px;
  color: #000000;
  margin: auto;
  padding: 15px;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.person-desc {
  margin: 60px;
  line-height: 35px;
}

.students {
  background-color: $tertiary-color;
  padding: 100px;
}

.ppl-heading {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 25px;
  color: $fourth-color;
}

.person-img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

//Resources

//Contact

#contact h2 {
  margin-top: 50px;
}
form {
  text-align: center;
  margin-top: 50px;
  @include easeInOut();
}

.form-control {
  width: 600px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $text-color;
  color: $text-color;
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: 250;
}

input {
  height: 45px;
}

form .submit {
  background-color: #c2c2c2;
  border-color: transparent;
  color: #000000;
  font-size: 17px;
  margin-bottom: 30px;
  border-radius: 5px;

  &:hover {
    background-color: $tertiary-color;
    cursor: pointer;
  }
}

// Footer
footer {
  text-align: center;
  background-color: darken($primary-color, 2);
  font-size: 14px;
  padding: 1rem;
  color: $text-color;
  height: 60px;
}

@import "mobile";
